﻿

.clearout {height:20px;clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {   position:relative;   max-width:100%;margin:40px 0;}
.nbs-flexisel-ul { position:relative; width:9999px; margin:0px; padding:0px; list-style-type:none;   text-align:center;  }
.nbs-flexisel-inner {  overflow:hidden;  float:left;  width:100%;  border:1px solid #ccc;  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;      background:#f5f5f5;}
.nbs-flexisel-item {  float:left;  margin:0px;  padding:0px;  cursor:pointer;  position:relative;  line-height:0px;}
.nbs-flexisel-item img {  width: 100%;  cursor: pointer;  position: relative;  margin-top: 10px;  margin-bottom: 10px;  max-width:250px; max-height:103px;}
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {   width: 22px;   height: 22px;    position: absolute;   cursor: pointer;   z-index: 100;   opacity: 0.5;}
.nbs-flexisel-nav-left {  left: 10px;  background: url(images/button-previous.png) no-repeat;}
.nbs-flexisel-nav-right {  right: 5px;  background: url(images/button-next.png) no-repeat;}