/* promosApp promoimporter ajax versión STATIC */

.singleoferta figure {
  position:relative;
  overflow:hidden;
  z-index:1;
}
.singleoferta .position-relative {
  display:inherit;
}

.singleoferta figure > img {
  width:100%;
}
.singleoferta .title {
  box-sizing: padding-box;
  
  right:0;
  width:auto;
  padding:22px;
  
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,79,139,0.75) 70%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,79,139,0.75) 70%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,79,139,0.75) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  line-height:100%;
}

.singleoferta .title > * {
  margin:0;
  color:#fff;
  line-height: 120%;
}

.singleoferta .subtitle,
.singleoferta .text-large {
  font-size: 135%;
  line-height: 125%;
}

.singleoferta .content {
  font-size:105%;
  line-height:135%;
}

.singleoferta .content p,
.singleoferta .content ul {
  margin:0 0 20px 0;
}

.singleoferta .badge {
  font-weight:normal;
  text-transform:uppercase;
  font-size:11px;
  border:1px solid #fff;
  background:rgba(0,0,0,0.5);
  letter-spacing:.05em;
}
.singleoferta .badges a {
  opacity:.75;
}
.singleoferta .badges a:hover,
.singleoferta .badges a:active {
  opacity:.9;
}

.singleoferta .checklist li {padding-left:20px}

.singleofertaDetail {
	position:relative;
	z-index:5;
}

.promo-toolbar {
	z-index: 10;
	width:100%;
	min-height:66px;
}
.promo-toolbar.affix {
	position:fixed!important;
	background:rgba(0,0,0,0.6);
	margin:0 auto;
	top:75px;
	left:0;right:0;
  width:100%!important;
  z-index: 11;
}

.promo-toolbar.affix .container {
	box-sizing: border-box;
	max-width: 980px;
	padding: 0 10px;
	margin:0 auto;
	position:relative;
}

@media (min-width: 1220px) {
	.promo-toolbar.affix .container{
		max-width: 1200px;
		padding: 0 35px;
	}
}

.promo-toolbar.affix .pvpdto,
.promo-toolbar.affix .btn-reservaroferta {
  top: -3px;
}

.titleagain {
	opacity:0;
  transition:2s;
  line-height:66px!important;
}

.promo-toolbar.affix .titleagain {
  opacity: .99;
}

.promo-toolbar .btn-reservaroferta {
	margin:10px;
}

.pvpdto {
	margin: 10px;
	background: #00a5df;
	padding: 0 20px;
	font-size: 125%;
	line-height:50px;
  height:50px;
  display:inline-block;
}

.pvpdto b {
  position:relative;
}

.dtoimg {max-width:56px;}

.bookingblock .pvpfrom .dtoimg {
	position:absolute;
	bottom: -5px;
	right: 70px;
  z-index:1;
  left:auto;
}

.pvpdto .dtoimg {
	position:absolute;
	top: 55%;
  right: -40px;
  left:auto;
	z-index:1;
}

.pvpdto .uk-text-large {
	font-size:150%;
}

.singleofertaDetail .title {  padding:35px;}

.singleofertaDetail .title h1 {
  font-size: 2.75em;
  text-align: center;
  transform-origin:50% 50%;
}

.singleoferta figure + p {
  min-height: 6em;
  font-weight: 500;
}

.excerpt p {margin-bottom:35px}

.promo-header {
	z-index:2!important;
  overflow: hidden;
  height:0;display:block;
  padding: 35% 0 0 0;
  box-sizing: padding-box;
}
@media(max-height:900px) {
	.promo-header {padding: 28% 0 0 0;}
}

.promo-header > img {
  position:absolute;
  min-width:100%;
  left:0;
  top:50%;
  transform:translateY(-45%)translateZ(0);
  min-height:100%;
}

@media(max-width:1100px) {
	.promo-header > img {
		min-width:120%;
		left:-10%;
		right:110%;
		top:50%;
		min-height:100%;
	  }
}

.bookingblock {
  padding:25px 0;
}

.bookingblock .pvpfrom {font-size:150%;line-height:50px;margin:10px 0;}
.bookingblock .pvpfrom .uk-text-large {font-size:150%;}
.bookingblock [class*="btn-"] {margin:10px 0;vertical-align: top;}
.btn-reservaroferta,
.btn-reservarforfait,
input[type="submit"].btn-reservaroferta {
	padding:0 25px;
	background:#ff3366!important;
	max-height:50px;
	line-height:50px;
  font-size:24px;
  width:auto;
  text-shadow:none;
  border-radius:0;
}

.btn-reservarforfait {
	background:#8193a6!important;	
}

.btn-reservaroferta:hover {
  background:#ff5d86!important;
}
.btn-reservarforfait:hover {
  background:#9ba9b8!important;
}

.btn-reservaroferta span,
.btn-reservarforfait span {
	font-size: 60%;
  display: block;
  line-height: 0;
  transform: translateY(-5px);
  text-align: center;
}

.mobile .btn-reservarforfait {
	margin-top:10px;
}

.con-forfait .bookingblock [class*="btn-"] {
  min-height:60px;height:60px;
}

.alert-forfait {
  position:relative;
  z-index:1;
	background:rgba(129, 147, 166,.65);
	z-index: 1;
  border-radius:4px;
  color:#fff;
  border:0;
}

.alert-forfait:before {
	content:"";
	border-width:10px;
	border-style:solid;
	border-color:transparent transparent rgba(129, 147, 166,.65) transparent;
	position:absolute;
	left:50%;
	margin-left:-10px;
	bottom:100%;
	z-index:1;
}
@media(min-width:768px) {
	.alert-forfait:before {
		left:82%;
  }
  .solo-forfait .alert-forfait:before {
    left:55%!important;
  }
}
@media(min-width:1220px) {
	.alert-forfait:before {
		left:75%;
	}
}


/* ocultar misma oferta del listado cuando estamos viendo la actual */

@media (max-width:980px) {

    .singleoferta.margin-top-30 {margin-top:0!important;}

    .mobile-center {
      text-align:center;
    }

    .promo-header {
      padding-top:70%;
      margin-left: -10px;
      margin-right: -10px;
    }

    .pvpdto {
      font-size:95%;
      line-height: 33px;
      height:33px;
      padding:0 8px;
    }

    #app {
      padding-top:25px;
    }

    .dtoimg {
      max-width: 45px;
      transform:translate(-2px,-2px)translateZ(0);
    }

    .singleoferta .title {
      padding:20px 10px 8px 10px;
    }

    .singleoferta .title h1 {
      font-size:24px;
      line-height:100%;
    }

    .singleoferta .title .uk-margin-top {
      margin-top:10px!important;
    }

    
    .singleoferta .text-large {
        font-size: 120%;
        line-height: 125%;
    }
    .singleoferta .subtitle {
      font-size: 100%!important;
      line-height: 120%;
      margin: 10px 0!important;
    }
    
    .singleoferta figcaption .row-small {
      display:none
    }

    .mobile-center {
      text-align:center!important;
    }

    .mobile-margin-remove {
      margin:0!important;
    }

    .mobile-margin-top {
      margin-top:10px!important;
    }

    .mobile-margin-bottom {
      margin-bottom:10px!important;
    }

    .btn-reservaroferta2,
    #reservaofertaClon .btn-reservaroferta {
      font-size:15px;
      line-height:33px;
      padding:0 10px;
      height:33px;
      max-height: 33px;
    }

    .promo-toolbar.affix {
      margin:0;
      top:50px;
    }
    .titleagain {margin:55px 0 10px 0;line-height:120%!important;}

    .promo-toolbar.affix .pvpdto,
    .promo-toolbar.affix .btn-reservaroferta {
      top: 5px;
    }

    .mini-gallery {margin-bottom:20px;}
    .mini-gallery > a {margin-top:10px;margin-bottom:0;}

    

    .wa_btn.uk-visible-small {
      display:inline-block!important;
    }
}
  
/* clases uikit */

*[class*="uk-position-"] {
  position:absolute;
  z-index:1;
}

.uk-position-top {
  top:0;
}

.uk-position-top-left {
  left:0;top:0;
}

.uk-position-top-right {
  right:0;top:0;
}

.uk-position-bottom-left {
  left:0;bottom:0;
}

.uk-width-medium-3-4  {
  width:75%;
}

.container-center {
  margin-left:auto;
  margin-right:auto;
}

/* css para eliminar restos de maquetacion de ofertas antiguas dentro del contenido */

.pastillaPrecio {
  display:none;
}

.content table {
  width:80%;
  margin:25px 10%;
  font-size:110%;
  line-height:45px;
}

.content table td {padding:0 6px;}

.content table tr:nth-child(odd) {
  border-top:1px solid rgba(0,0,0,0.08);
  background:rgba(0,0,0,0.025);
}

.content .tablaPrecios td:nth-child(2) {text-align:right}