<!-- <div id="Carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
      <li data-target="#Carousel" data-slide-to="2"></li>
      <li data-target="#Carousel" data-slide-to="3"></li>
      <li data-target="#Carousel" data-slide-to="4"></li>
      <li data-target="#Carousel" data-slide-to="5"></li>
      <li data-target="#Carousel" data-slide-to="6"></li>
      <li data-target="#Carousel" data-slide-to="7"></li>
      <li data-target="#Carousel" data-slide-to="8"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="[img_path_en_plantilla]/images/slide_quijote_01.jpg">
      </div>
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_02.jpg">
      </div>
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_03.jpg">
      </div> 
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_04.jpg">
      </div>
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_05.jpg">
      </div>
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_06.jpg">
      </div>
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_07.jpg">
      </div>  
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_08.jpg">
      </div>  
      <div class="item">
        <img src="[img_path_en_plantilla]/images/slide_quijote_09.jpg">
      </div>                   
    </div>

    <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>-->