<p>En cumplimiento de lo que prevé el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, se informa que www.rvhotels.es es un dominio de las siguientes empresas: Retive S.L.U., Mercader Sais S.A. y Viatges Rosa dels Vents S.A.U., todas ellas con domicilio social C/ Diputació 238, Entr 3ª , 08007, Barcelona España con teléfono +34 93 503 60 39 y fax +34 93 503 60 44 y correo electrónico <a href="mailto:info@rvhotels.es">info@rvhotels.es</a>.</p>

<h2>La sociedades arriba nombradas están registradas como sigue: </h2>
<p>Retive S.L.U. con el CIF: B82573338, figura inscrita en el registro mercantil de Barcelona, Tomo 35364. Folio 34. Hoja 265150. Inscripción 3º. Mercader Sais S.A con el CIF: A17098666, figura inscrita en el registro mercantil de Girona Tomo 70. Folio 43. Hoja GE-1230. Inscripción 1º. Viatges Rosa dels Vents, S.A.U. con el CIF: A08626483, figura inscrita en el registro mercantil de Barcelona, Tomo 6041. Sección 2.Folio 25. Hoja 59892. Inscripción 10º.</p>

<h2>Número de registro turístico:</h2>
<h3 style="margin-top:10px;">Nuestros hoteles</h3>
<h4>Hotel Ametlla Mar****: </h4>
<p>HTE-000826</p>

<h4>Hotel Palau lo Mirador****:</h4>
<p>HG002374</p>

<h4>Hotel Ses Arrels****:</h4>
<p>HG-002348</p>

<h4>Hotel Condes del Pallars****:</h4>
<p>HL000339</p>

<h3>Nuestros apartamentos</h3>

<h4>Apartamentos Piscis:</h4>
<p>H1TG-6001, H1TG-6002, H1TG-6003, H1TG-6004, H1TG-6005, H1TG-6006, H1TG-6007.</p>

<h4>Apartamentos Bonsol:</h4>
<p>H1TG-4795, H1TG-4796, H1TG-4797, H1TG-4798, H1TG-4799, H1TG-4800, H1TG-4801, H1TG-4802.</p>

<h4>Apartamentos del Sol:</h4>
<p>H1TG-3582.</p>

<h4>Apartamentos El Tropik:</h4>
<p>HUTG-006051, HUTG-006085, HUTG-006066, HUTG-006068, HUTG-006080, HUTG-006059, HUTG-006079, HUTG-006076, HUTG-006063, HUTG-006075, HUTG-006086, HUTG-006077, HUTG-006073, HUTG-006071, HUTG-006052, HUTG-006056, HUTG-006078, HUTG-006048, HUTG-006070, HUTG-006087, HUTG-006057, HUTG-006081, HUTG-006055, HUTG-006065, HUTG-006054.</p>

<h4>Apartamentos Torrevella:</h4>
<p>HTG-006027, HUTG-006029, HUTG-006032, HUTG-006031, HUTG-006033, HTG-006034, HUTG-006035, HUTG-006036, HTG-006040, HUTG-006041, HUTG-006042.</p>

<h4>Apartamentos Can Torrents:</h4>
<p>ATT-7.</p>

<h4>Apartamentos Estartit Confort:</h4>
<p>HUTG-4805, HUTG-4814, HUTG-4815, HUTG-4818, HUTG-4820, HUTG-4822, HUTG-4824, HUTG-4826, HUTG-4827, HUTG-4830, HUTG-4833, HUTG-4834, HUTG-4836, HUTG-4838, HUTG-4840, HUTG-4842, HUTG-4843, HUTG-4849, HUTG-4850, HUTG-4851, HUTG-4852, HUTG-4853, HUTG-4854, HUTG-4855, HUTG-4856, HUTG-4857, HUTG-4858, HUTG-4859, HUTG-4860, HUTG-4862, HUTG-4863, HUTG-4864, HUTG-4866, HUTG-4868, HUTG-4871, HUTG-4872, HUTG-4874, HUTG-4875, HUTG-4877, HUTG-4878, HUTG-4879, HUTG-4881, HUTG-4910, HUTG-4911, HUTG-4912, HUTG-4913, HUTG-4914, HUTG-4915, HUTG-4916, HUTG-4917, HUTG-4918, HUTG-4919, HUTG-4920, HUTG-4921, HUTG-4922, HUTG-4923, HUTG-4924, HUTG-4925, HUTG-4926.</p>

<h4>Apartamentos La Pineda:</h4>
<p>HUTG-011232, HUTG-011233, HUTG-011234, HUTG-011235, HUTG-011236, HUTG-011237, HUTG-011238, HUTG-011239, HUTG-011240, HUTG-011241, HUTG-011242, HUTG-011243, HUTG-011244, HUTG-011245, HUTG-011247, HUTG-011248, HUTG-011249, HUTG-011250, HUTG-011251, HUTG-011252, HUTG-011253, HUTG-011254, HUTG-011255, HUTG-011256, HUTG-011257, HUTG-011258, HUTG-011259, HUTG-011260, HUTG-011261, HUTG-011262, HUTG-011263, HUTG-011264, HUTG-011265, HUTG-011266, HUTG-011267.</p>

<h4>Apartamentos Salats</h4>

<p>40261291K, 40261291K, 40261291K, 40261291K, 40261291K, 40261291K, 40236822R, 40236822R, 40236822R, 40236822R, 40236822R, 40236822R, 40236822R, 40236822R
</p>

<h4>Apartamentos Treumal Park</h4>

<p>CP228219 11</p>

<h4>Apartaments Villa de Madrid</h4>
<p>HUTG11160, HUTG11161, HUTG11162, HUTG11163, HUTG11164, HUTG11165, HUTG11166, HUTG11167, HUTG11168, HUTG11169, HUTG11170, HUTG11171, HUTG11172, HUTG11173, HUTG11174, HUTG11175</p>

